.bg-color-1-25 {
  background-color: rgba(246, 113, 150, 0.25) !important;
}

.bg-color-1-50 {
  background-color: rgba(246, 113, 150, 0.5) !important;
}

.bg-color-1-75 {
  background-color: rgba(246, 113, 150, 0.75) !important;
}

.bg-color-1-100 {
  background-color: #f67196 !important;
}

.bg-color-2-25 {
  background-color: rgba(65, 65, 178, 0.25) !important;
}

.bg-color-2-50 {
  background-color: rgba(65, 65, 178, 0.5) !important;
}

.bg-color-2-75 {
  background-color: rgba(65, 65, 178, 0.75) !important;
}

.bg-color-2-100 {
  background-color: #4141b2 !important;
}

.bg-color-3-25 {
  background-color: rgba(254, 254, 254, 0.25) !important;
}

.bg-color-3-50 {
  background-color: rgba(254, 254, 254, 0.5) !important;
}

.bg-color-3-75 {
  background-color: rgba(254, 254, 254, 0.75) !important;
}

.bg-color-3-100 {
  background-color: #fefefe !important;
}

.text-red {
  color: red;
}

.bg-red {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.text-green {
  color: green;
}

.bg-green {
  background-color: rgba(0, 128, 0, 0.5) !important;
}

.text-blue {
  color: blue;
}

.bg-blue {
  background-color: rgba(0, 0, 255, 0.5) !important;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, monospace, monospace;
  margin: 0;
  padding: 0;
  user-select: none;
}

.body-container {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

aside {
  position: fixed;
  left: 0;
  background-color: #F67196;
  height: 100vh;
  width: 15vw;
  text-align: center;
  gap: 70px;
}
aside img {
  margin: 2rem 0 4rem;
}
aside ul {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  list-style: none;
}
aside ul li {
  padding: 3vh;
  width: 80%;
  border-radius: 15px;
  background-color: rgba(65, 65, 178, 0.2);
}
aside ul li:hover {
  color: #FEFEFE;
  background-color: #4141B2;
}
aside ul li a {
  text-decoration: none;
  color: #FEFEFE;
}

main {
  min-height: 100vh;
  width: 83.7vw;
  margin-left: 15vw;
  background: url("../../../assets/images/background.jpg") no-repeat fixed bottom right;
  background-size: 40vw 60vh;
}
main .stepper-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
main .stepper-bar .stepper-item {
  border-radius: 50%;
  padding: 0.5rem;
  transition: 1s;
}
main .stepper-bar .stepper-line {
  height: 6px;
  width: 15rem;
  transition: 1s;
}

.logo {
  height: 70%;
  width: 50%;
}

.main-container {
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 10px;
  padding: 4vh;
  width: 70%;
  min-height: 60vh;
  text-align: center;
  font-weight: bold;
  margin-top: 1.5rem;
}
.container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10%;
}
.container article h1 {
  font-weight: bolder;
  font-size: xxx-large;
  color: #4141B2;
}
.container section label {
  font-weight: bold;
  font-size: medium;
  color: #4141B2;
}
.container section input {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  background-color: rgba(65, 65, 178, 0.2);
  border-radius: 10px;
  border: none;
}
.container section input:focus {
  border: none;
  background-color: rgba(65, 65, 178, 0.5);
  color: #FEFEFE;
}
.container section input::placeholder {
  color: #4141B2;
}
.container section .start {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  border: 1px solid #4141B2;
  color: #4141B2;
  background-color: rgba(246, 113, 150, 0.5);
}
.container section .start:hover {
  background-color: #F67196;
  transition: 0.2s;
}
.container section #alert-danger {
  color: red;
  margin-top: 1.5rem;
}
.container .container-result {
  font-size: xx-large;
}

.alert-danger {
  color: red;
  margin-top: 1.5rem;
}

#counter-to-start {
  font-size: 7rem;
}

.quiz-container h2 {
  position: relative;
}
.quiz-container h2 .timer-question {
  background-color: #F67196;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
  right: -7rem;
  top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-container .answer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  margin-top: 2rem;
  color: #FEFEFE;
}
.quiz-container .answer .answer-items {
  position: relative;
  padding: 2rem;
  border-radius: 10px;
}
.quiz-container .answer .answer-items input {
  position: absolute;
  left: 4px;
  top: 4px;
}
.quiz-container .answer .active {
  background-color: rgba(246, 113, 150, 0.8);
}
.quiz-container .answer .valid {
  background-color: lawngreen;
}
.quiz-container .btn-next {
  background-color: rgba(65, 65, 178, 0.5);
  color: #FEFEFE;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: none;
  position: relative;
  left: -40%;
}
.quiz-container .btn-next:hover {
  background-color: #4141B2;
}
.quiz-container #timer-question {
  color: #4141B2;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
table th, table td {
  text-align: left;
  padding: 16px;
  font-size: 16px;
}
table tr:nth-child(even) {
  background-color: #f8f9fa;
}
table th {
  background-color: #6c757d;
  color: white;
  font-weight: bold;
}
table td {
  border-top: 1px solid #dee2e6;
}

.progress {
  margin-top: 1.5rem;
  position: relative;
  background-color: #4141B2;
  width: 70%;
  height: 10px;
  border-radius: 4px;
}
.progress #progress-counter {
  position: absolute;
  color: #4141B2;
  font-weight: bold;
  font-size: small;
  z-index: 10;
  left: -3rem;
  top: -0.1rem;
  transition: 1s;
}
.progress .progress-bar {
  position: absolute;
  width: 0;
  background-color: #F67196;
  height: 8px;
  transition: 2s;
  border-radius: 3px;
  top: 1px;
  left: 1px;
  max-width: 99.75%;
}

box-icon[name=info-circle] {
  color: #ff0000;
}

/*# sourceMappingURL=main.css.map */
