*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, monospace, monospace;
  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

aside {
  position: fixed;
  left: 0;
  background-color: #F67196;
  height: 100vh;
  width: 15vw;
  text-align: center;
  gap: 70px;
}
aside img {
  margin: 2rem 0 4rem;
}
aside ul {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  list-style: none;
}
aside ul li {
  padding: 3vh;
  width: 80%;
  border-radius: 15px;
  background-color: rgba(65, 65, 178, 0.2);
  user-select: none;
}
aside ul li:hover {
  color: #FEFEFE;
  background-color: #4141B2;
}
aside ul li a {
  text-decoration: none;
  color: #FEFEFE;
}

main {
  min-height: 100vh;
  width: 83.7vw;
  margin-left: 15vw;
  background: url("../../../assets/images/background.jpg") no-repeat right bottom;
  background-size: 40vw 60vh;
}
main .stepper-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20%;
}
main .stepper-bar .stepper-item {
  background-color: rgba(246, 113, 150, 0.2);
  border-radius: 4px;
}

.logo {
  height: 70%;
  width: 50%;
}

.main-container {
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(65, 65, 178, 0.1);
  border-radius: 10px;
  padding: 4vh;
  width: 70%;
  text-align: center;
  font-weight: bold;
  margin-top: 4rem;
}
.container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10%;
}
.container article h1 {
  font-weight: bolder;
  font-size: xxx-large;
  color: #4141B2;
}
.container section label {
  font-weight: bold;
  font-size: medium;
  color: #4141B2;
}
.container section input {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: medium;
  background-color: rgba(65, 65, 178, 0.2);
  border-radius: 10px;
  border: none;
}
.container section input:focus {
  border: 1px solid #F67196;
  background-color: rgba(246, 113, 150, 0.2);
}
.container section .start {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  border: 1px solid #4141B2;
  color: #4141B2;
  background-color: rgba(246, 113, 150, 0.5);
}
.container section .start:hover {
  background-color: #F67196;
  transition: 0.2s;
}
.container section #alert-danger {
  color: red;
  margin-top: 1.5rem;
}

.alert-danger {
  color: red;
  margin-top: 1.5rem;
}

#counter-to-start {
  font-size: 7rem;
}

.quiz-container h2 {
  position: relative;
}
.quiz-container h2 .timer-question {
  background-color: #F67196;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: absolute;
  right: -7rem;
  top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-container .answer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  margin-top: 2rem;
  user-select: none;
}
.quiz-container .answer .answer-items {
  padding: 2rem;
  background-color: rgba(246, 113, 150, 0.3);
  border-radius: 10px;
}
.quiz-container .answer .active {
  background-color: rgba(246, 113, 150, 0.8);
}
.quiz-container .answer .valid {
  background-color: lawngreen;
}
.quiz-container .btn-next {
  background-color: rgba(65, 65, 178, 0.5);
  color: #FEFEFE;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 3rem;
  position: relative;
  left: -40%;
}
.quiz-container .btn-next:hover {
  background-color: #4141B2;
}
.quiz-container #timer-question {
  background-color: red;
}

table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}
table td, table th {
  padding: 15px;
}
table thead tr th {
  background-color: rgba(246, 113, 150, 0.8);
  color: #FEFEFE;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #F67196;
}
table tbody tr {
  background-color: rgba(65, 65, 178, 0.8);
}

/*# sourceMappingURL=main.css.map */
