$color1: #F67196;
$color2: #4141B2;
$color3: #FEFEFE;
$color4: rgba(78, 52, 122, 0.71);
$colors: [red, blue, white, black];
@mixin flex($direction){
  display: flex;
  flex-direction: $direction;
}
@mixin hover2(){
  &:hover{
    color: $color3;
    background-color: $color2;
  }
}
@each $color in $colors{
  .text-#{$color}{
    color : $color;
  }
  .bg-#{$color}{
    background-color : rgba($color, 50%)!important;
  }
}
*, *::before, *::after{
  box-sizing :border-box;
  font-family: Arial , monospace, monospace;
  margin: 0;
  padding: 0;
  user-select: none;
}
.body-container{
  @include flex(row);
}
.flex-column{
  @include flex(column);
}
aside{
  position: fixed;
  left: 0;
  background-color: $color1;
  height: 100vh;
  width: 15vw;
  text-align: center;
  gap: 70px;
  img{
    margin: 2rem 0 4rem;
  }
  ul {
    @include flex(column);
    row-gap: 50px;
    align-items: center;
    list-style: none;
    li{
      padding: 3vh;
      width: 80%;
      border-radius: 15px;
      background-color: rgba($color2, 20%);
      @include hover2;
      a{
        text-decoration: none;
        color: $color3;
      }
    }
  }
}
main{
  min-height: 100vh;
  width: 83.7vw;
  margin-left: 15vw;
  background: url("../../../assets/images/background.jpg") no-repeat fixed bottom right;
  background-size: 40vw 60vh ;
  .stepper-bar{
    @include flex(row);
    width: 100%;
    justify-content: center;
    gap: 20%;
    .stepper-item{
      background-color: rgba($color1, 20%);
      border-radius: 4px;
    }
  }
}


.logo{
  height: 70%;
  width: 50%;
}

.main-container{
  padding: 4%;
  @include flex(column);
  justify-content: center;
  align-items: center;
}

.container{
  background-color: rgb($color2, 10%);
  border-radius: 10px;
  padding: 4vh;
  width: 70%;
  text-align: center;
  font-weight: bold;
  margin-top: 4rem;
  article{
    @include flex(column);
    align-items: center;
    gap: 2rem;
    margin-bottom: 10%;
    h1{
      font-weight: bolder;
      font-size: xxx-large;
      color: $color2;
    }
  }
  section{
    label{
      font-weight: bold;
      font-size: medium;
      color: $color2;
    }
    input{
      margin-top: 2rem;
      padding: .5rem 1.5rem;
      font-weight: bold;
      font-size: medium;
      background-color: rgb($color2, 20%);
      border-radius: 10px;
      border: none;
      &:focus{
        border: 1px solid $color1;
        background-color: rgb($color1, 20%);
      }
    }
    .start{
      padding: .5rem 1.5rem;
      margin-top: 1rem;
      border-radius: 10px;
      border: 1px solid $color2;
      color: $color2;
      background-color: rgb($color1, 50%);
      &:hover{
        background-color: $color1;
        transition: .2s;
      }
    }
    #alert-danger{
      color: red;
      margin-top: 1.5rem;
    }
  }
}
.alert-danger{
  color: red;
  margin-top: 1.5rem;
}
#counter-to-start{
  font-size: 7rem;
}
.quiz-container{
  h2{
    position: relative;
  .timer-question{
    background-color: $color1;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: absolute;
    right: -7rem;
    top: -1rem;
    @include flex(column);
    justify-content: center;
    align-items: center;
  }
  }
  .answer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    margin-top: 2rem;
    .answer-items{
      padding: 2rem;
      background-color: rgb($color1, 30%);
      border-radius: 10px;
      input{
        //display: none;
      }
    }
    .active{
       background-color: rgb($color1, 80%);
     }
    .valid{
      background-color: lawngreen;
    }
  }
  .btn-next{
    background-color: rgb($color2, 50%);
    color: $color3;
    padding: .5rem 2rem;
    border-radius: .5rem;
    border: none;
    position: relative;
    left: -40%;
    &:hover{
      background-color: $color2;
    }
  }
  #timer-question{
    color: $color2;
  }
}

table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  & *{
    font-weight: bold;
    font-size: 1.7rem;
  }
  td, th {
    padding: 15px;
  }
  thead tr th{
    background-color: rgb($color1, 80%);
    color: $color3;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid $color1;
  }
  tbody tr {
    background-color: rgb($color2, 80%);
  }
}