$color1: #F67196;
$color2: #4141B2;
$color3: #FEFEFE;
$color4: rgba(78, 52, 122, 0.71);

@mixin flex($direction){
  display: flex;
  flex-direction: $direction;
}
@mixin hover2(){
  &:hover{
    color: $color1;
    border: 2px solid $color3;
    border-radius: 15px;
    background-color: $color2;
  }
}

*, *::before, *::after{
  box-sizing :border-box;
  margin: 0;
  padding: 0;
}
.body-container{
  @include flex(row);
}
.flex-column{
  @include flex(column);
}
aside{
  position: fixed;
  left: 0;
  background-color: $color1;
  height: 100vh;
  width: 15vw;
  @include flex(column);
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 30px;
  ul {
    @include flex(column);
    row-gap: 90px;
    li{
      text-decoration: none;
      padding: 4vh;
      width: 100%;
      @include hover2;
      a{
        text-decoration: none;
        @include hover2;
        color: $color3;
      }
    }
  }
}
main{
  background-color: $color2;
  min-height: 93vh;
  width: 83.7vw;
  margin-left: 15vw;
}

footer{
  background-color: $color4;
  height: 7vh;
  width: 83.7vw;
  margin-left: 15vw;
}

.logo{
  height: 70%;
  width: 50%;
}

.main-container{
  padding: 4%;
}